<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
    <div layout:fragment="content">
        <style>
            #passstrength {
                color:red;
                font-family:verdana;
                font-size:10px;
                font-weight:bold;
            }
        </style>
        <form method="post" name="editUser_form" id="changePassword_form" onsubmit="return validateForm()"
              role="form">
            <label class="setupHeaderLabel"> Change password</label><br />
            <br />
            <div id="parent">
                <div>
                    1. Password are case sensitive and must be at least <label data-th-text="${passwordMinCharLength}"></label> character.
                    <br/>2. A good password should contain a minimum of capital and lower case letters, number and symbol.<label>&nbsp;</label>
                    <br/>3. Don't use a password from another site, or something too obvious.
                </div>
                <br/>
                <table id="user_list" style="border-spacing: 10px; border-collapse: separate;">
                    <tbody>
                        <tr>
                            <td class="labelColor" style="width: 165px">
                                <label>Old Password</label></td>
                            <td>
                                <input type="password" id="txtOldPassword" onkeyup="clearMsg()" maxlength="100" style="width: 300px;"/>
                                <input type="checkbox" id="chkShowOldPassword">Show Password</input>
                            </td>
                        </tr>
                        
                        <tr>
                            <td class="labelColor">
                                <label> New Password</label></td>
                            <td>
                                <input type="password" id="txtNewPassword" onkeyup="checkPasswordStrength()" maxlength="100" style="width: 300px;"/>
                                <input type="checkbox" id="chkShowNewPassword">Show Password</input>
                                <span id="passstrength"></span>
                            </td>
                        </tr>
                        
                        <tr>
                            <td class="labelColor">
                                <label> Confirm New Password</label></td>
                            <td>
                                <input type="password" id="txtConfirmNewPassword" onkeyup="clearMsg()" maxlength="100" style="width: 300px;"/>
                                <input type="checkbox" id="chkShowConfirmNewPassword">Show Password</input>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <input
                type="button" id="btnChangePassword" value="Change password" class="btn btn-primary"></input>
            <input type="button" id="cancel" value="Cancel"
                   class="btn btn-primary"
                   onclick="javascript:window.location='/home';"></input>
            &nbsp;<label id="lblStatus"></label>
            <br/>
            <br/>
        </form>
    </div>
</html>

<script src="/js/user/changePassword.js"></script>